video {
  width: 75vw;
}

#video-select-area {
  align-items: center;
  background: rgb(225, 225, 225);
  border-style: dashed;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#video-select-area:hover,
#video-select-area.video-select-hover {
  background: rgb(200, 200, 200);
}

#video-select-area[data-state=shrink] {
  height: 10vh;
}

#video-select-area > span {
  font-size: 1.5rem;
  font-weight: bold;
}

#error-container {
  padding: 2ch;
}

#error-message {
  color: red;
}

#video-container {
  display: inline-block;
  padding: 1vh;
}
